*{
    margin 0;
    font-family: 'Open Sans', sans-serif;
}
/* header amd nav styles*/
.header{
    background: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* Banner style*/
.banner{
    margin: 0 150px;
}
.banner-title{
    color: #131313;
    font-weight: 500;
font-size: 64px;
text-align: center;
}
.banner-sub-title{
    color: #131313;
    font-weight: 700;
font-size: 64px;
text-align: center;

}
.banner-sub{
text-align: center;
color: #727272;
margin-top: 0;
margin-bottom: 30px;
}
.btn-primary{
    background: #FF900E;
    height: 64px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
   font-size: 20px;
   text-align: center;
   padding: 18px 35px;
   border: 0;
   

}
/*main section*/
.features{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}
#features-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.text{
    color: #727272 ;
}
.text-pri{
    color: #FF900E;
}
/* features love and enjoy section*/
.architect{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.architect-title{
   

}
.archi-row{
   
 background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 586px;
height: 171px;
left: 240px;
top: 252px;
}
/*--facts--*/
.facts{
    margin-top: 130px;
    
}
.facts-cointainer{
    display: flex;
    gap: 24px;
   
}
.facts-title{
   font-weight: 700;
   font-size: 20px;
    color: #080808;
    margin-top: 30px;
    margin-bottom: 20px;
}
.fact-description{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.fact{
    
    border: 2px solid #FF900E;
     border-radius: 8px;
     padding: 30px;
 }
 .sponsor{
    margin-top: 30px;

 }
 .sponsor-title{
    text-align: center;
    justify-content: center;
 }
.sponsor-description{
    text-align: center;
    justify-content: center;
}
.sponsor-image{
    display: flex;
    gap: 130px;
}
.copyright{
    margin-top: 100px;
    text-align: center;
    background: #727272;
    border-radius: 8px;
  

}