*{
    margin 0;
    font-family: 'Open Sans', sans-serif;
}
/* header amd nav styles*/
.header{
    background: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* Banner style*/
.banner{
    margin: 0 200px;
}
.banner-title{
    color: #131313;
    font-weight: 700;
font-size: 64px;
text-align: center;
}
.banner-sub-title{
    color: #131313;
    font-weight: 700;
font-size: 64px;
text-align: center;

}
.banner-sub{
text-align: center;
color: #727272;
margin-top: 0;
margin-bottom: 30px;
}
.btn-primary{
    background: #FF900E;
    height: 64px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
   font-size: 20px;
   text-align: center;
   padding: 18px 35px;
   border: 0;
   

}
/*main section*/
.features{
    display: flex;
}
.features-info{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.text{
    color: #727272 ;
}
.text-pri{
    color: #FF900E;
}
/* features love and enjoy section*/
.architect{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.architect-title{
   

}
.archi-row{
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
}